<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email List</title>
    <!-- script per vue js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- script per axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <!-- struttura per stampare una Email List -->
    <div id="app">
        <h1>Lista email Boolean</h1>
        <!-- eseguo un ciclo v-for -->
        <ul v-if="listEmail.length === 10">
            <li v-for="(list, index) in listEmail">{{list}}</li>
        </ul>
        <div v-else="caricamento in corso"></div>
            
       
    </div>
    <!-- scriper per main.js -->
    <script src="js/main.js"></script>
</body>
</html>